@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(211, 230, 211), rgb(107, 124, 107), rgb(70, 104, 70));
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(85, 92, 85);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {

    color: rgb(4, 102, 25);
}

h1#principal {
            text-align: center; 
            background-color: green;
            color: white;  
}

h2 {
    color: rgb(73, 109, 71);
}
.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}