@charset "UTF-8";

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../back-print.jpg);
    }

    main {
        border: 2px solid #000000;
        width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: #000000;
    }

    main::after {
        content: 'Essa impressora foi feita por juliano';
        text-decoration: overline;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}